/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: calc(4px + 1vw);
  font-family: "Red Rose", serif;
  color: #FFF;
  line-height: 1.5;
  background: #FFF;
}

a {
  color: #111111;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #00D373;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: 'EuclidCircularAVN-Regular';
  margin: 0px 0px 0.5rem 0px;
}

p {
  margin-bottom: 22px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@font-face {
  font-family: 'EuclidCircularAVN-Regular';
  src: url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Regular/EuclidCircularAVN-Regular.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Bold';
  src: url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Bold/EuclidCircularAVN-Bold.woff) format("woff"); }
@font-face {
  font-family: 'EuclidCircularAVN-Light';
  src: url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff2) format("woff2"),
   url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.eot) format("eot"),
    url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.ttf) format("ttf"),
     url(../fonts/EuclidCircularAVN-Light/EuclidCircularAVN-Light.woff) format("woff"); }
@font-face {
  font-family: '1FTVDesignerRegular';
  src: url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff2) format("woff2"),
   url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.eot) format("eot"),
    url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.ttf) format("ttf"),
     url(../fonts/1FTVDesignerRegular/1FTVDesignerRegular.woff) format("woff"); }
img{
  width: 100%;
}
.font-1ftv{
  font-family: '1FTVDesignerRegular';
}
.page-main{
  position: relative;
  overflow: hidden;
}
.page-main .md-text-1{
  position: absolute;
  left: 28%;
  top: 24%;
  width: 44%;
  animation: md-text-1 4s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes md-text-1{
  0%{
    transform: scale(1.0);
    opacity: 0;
  }
  30%{
    opacity: 1;
    transform: scale(1.0);
  }
  35%{
    transform: scale(1.2);
  }
  40%{
    transform: scale(1.0);
  }
  45%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1.0);
  }
  55%{
    transform: scale(1.2);
  }
  60%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.0);
    opacity: 1;
  }
}
.page-main .md-form{
  position: absolute;
  left: 10%;
  top: 45%;
  width: 80%;
}
.page-main .md-form .img-1{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.page-main .md-form form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 45%;
  display: flex;
      gap: 10px;
      justify-content: center;
}
.page-main .md-form .error{
  position: absolute;
  text-align: center;
  left: 0%;
  top: 100%;
  width: 100%;
  color: red;
  font-style: italic;
  display: none;
}
.md-form.active .error {
  display: block; /* Class này sẽ được thêm bằng JS khi có lỗi */
}
.page-main .md-form input{
  text-transform: uppercase;
  width: 12.5%;
  padding: 4% 0px;
  border-radius: 5px;
  border: none;
  background: #f2cde2;
  text-align: center;
  vertical-align: bottom;
  outline: none;
  font-size: calc(20px + 3vw);
  line-height: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;   /* chữ xuống đáy input */
      padding-bottom: 6px;
      background-image: linear-gradient(#a11d6f, #a11d6f);
          background-repeat: no-repeat;
          background-size: 60% 1px;     /* độ dài gạch */
          background-position: center bottom 10px; 
}

.page-main .md-text-2{
  position: absolute;
  left: 37.5%;
  top: 73%;
  width: 24%;
}
.page-main .md-text-2:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.page-main .logo{
  width: 18%;
  position: absolute;
  left: 41%;
  top: 10%;
}
.page-main .md-text-3{
  position: absolute;
  left: 31.5%;
  width: 41%;
  top: 37.5%;
  text-align: center;
  font-weight: 600;
}
.page-main .md-text-3 p{
  font-size: 2vw;
  line-height: 1.2;
}
.page-step-2{
  position: relative;
}
.page-step-2 .md-text-3{
  position: absolute;
  left: 23%;
  top: 7.5%;
    width: 54%;
}
.page-dientu .md-text-3{
  position: absolute;
      left: 22%;
    top: 5.5%;
    width: 55.5%;
}
.page-step-2 .md-text-3 .md-title{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
  font-size: 2vw;
  line-height: 1;
}
.page-step-2 .md-text-3 .title-2 .md-title{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%,-50%);
  font-size: 1.9vw;
  line-height: 1;
}
.page-step-2 .md-text-3 .title-1{
  opacity: 1;
}
.page-step-2 .md-text-3 .title-2{
  opacity: 0;
  display: table;
  margin: 0 auto;
  width: 62%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.page-step-2 .md-text-3.active-title .title-1{
  animation: title-1 2s;
  animation-fill-mode: forwards;
}
.page-step-2 .md-text-3.active-title .title-2{
  animation: title-2 2s;
  animation-fill-mode: forwards;
}
@keyframes title-1{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes title-2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



.page-step-2 .md-row .md-col-1{
  position: absolute;
  left: 31.5%;
    top: 38.5%;
    width: 19.5%;
  cursor: url("../images/msp-1.png"), auto;
  z-index: 2;
}
.page-step-2 .md-row .md-col-1 .md-sp-1{
  width: 43%;
  display: table;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.page-step-2 .md-row .md-col-1 .sp-1{
  position: relative;
  z-index: 1;
  margin-top: -31%;
}
.page-dientu .md-row .md-col-1 .sp-1{
  margin-top: 0%;
}
.page-step-2 .md-row .md-col-2 .md-sp-2{
  width: 41%;
  display: table;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.page-step-2 .md-row .md-col-2 .sp-2{
  margin-top: -32%;
  position: relative;
  z-index: 1;
}
.page-step-2 .md-row .md-col-3 .md-sp-3{
  width: 56%;
  display: table;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.page-step-2 .md-row .md-col-3 .sp-3{
  margin-top: -72%;
  position: relative;
  z-index: 1;
}
.page-step-2 .md-row .md-col-4 .md-sp-4{
  width: 74%;
  display: table;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.page-step-2 .md-row .md-col-4 .sp-4{
  margin-top: -101%;
  position: relative;
  z-index: 1;
}
.page-step-2 .md-row .md-col-3 .effect-sp-3{
  position: absolute;
      right: -13%;
    top: 49%;
    width: 115%;
}
.page-step-2 .md-row .md-col-4 .effect-sp-4{
  position: absolute;
  left: -15%;
  top: 49%;
  width: 92%;
}
@media screen and (min-width: 768px){
  .page-step-2 .md-row.hovering-on-4 .md-col-4{
    transform: scale(1.4);
    transition-duration: 0.5s;
    animation: md-col-4 1s;
    animation-fill-mode: forwards;
    z-index: 3;
  }
  .page-step-2 .md-row.hovering-on-4 .md-col-1{
    animation: md-col-1 1s;
    animation-fill-mode: forwards;
    z-index: 2;
  }.page-step-2 .md-row.hovering-on-4 .md-col-2{
    animation: md-col-2 1s;
    animation-fill-mode: forwards;
    z-index: 1;
  }.page-step-2 .md-row.hovering-on-4 .md-col-3{
    animation: md-col-3 1s;
    animation-fill-mode: forwards;
    z-index: 2;
  }
  .page-step-2 .md-row.hovering-on-2 .md-col-2{
    transform: scale(1.4);
    transition-duration: 0.5s;
  }
  .page-step-2 .md-row.hovering-on-2 .md-col-1{
    animation: md-col-1-2 1s;
    animation-fill-mode: forwards;
  }
  .page-step-2 .md-row.hovering-on-2 .md-col-3{
    animation: md-col-3-2 1s;
    animation-fill-mode: forwards;
  }
  .page-step-2 .md-row.hovering-on-2 .md-col-4{
    animation: md-col-4-2 1s;
    animation-fill-mode: forwards;
  }
  .page-step-2 .md-row.hovering-on-1 .md-col-1{
     transform: scale(1.4);
    transition-duration: 0.5s;
  }
  .page-step-2 .md-row.hovering-on-3 .md-col-3{
     transform: scale(1.4);
    transition-duration: 0.5s;
  }
}
@keyframes md-col-4{
  0%{
    top: 51%;
  }
  100%{
    top: 44%;
  }
}

@keyframes md-col-1{
  0%{
    left: 31.5%;
  }
  100%{
    left: 24.5%;
  }
}

@keyframes md-col-2{
  0%{
    left: 42.5%;
  }
  100%{
    left: 32%;
  }
}

@keyframes md-col-3{
  0%{
    right: 30.7%;
  }
  100%{
    right: 27%;
  }
}

@keyframes md-col-1-2{
  0%{
    left: 31.5%;
    top: 38.5%;
  }
  100%{
    left: 27.5%;
    top: 48.5%;
  }
}

@keyframes md-col-3-2{
  0%{
    right: 30.7%;
    top: 36.5%;
  }
  100%{
    right: 28.7%;
    top: 48.5%;
  }
}

@keyframes md-col-4-2{
  0%{
    top: 51%;
  }
  100%{
    top: 55%;
  }
}

.page-step-2 .md-row .md-col-2{
  position: absolute;
  left: 42%;
    top: 31%;
    width: 15.5%;
  cursor: url("../images/msp-2.png"), auto;
  z-index: 1;
}
.page-step-2 .md-row .md-col-3{
  position: absolute;
  right: 35%;
    top: 41.5%;
    width: 12%;
  cursor: url("../images/msp-2.png"), auto;
  z-index: 3;
}
.page-step-2 .md-row .md-col-4{
  position: absolute;
  right: 42.5%;
    top: 55%;
    width: 14%;
  cursor: url("../images/msp-2.png"), auto;
  z-index: 4;
}
.page-step-2 .md-row .md-col{
  cursor: none;
}

.custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 99999;
  width: 10%;
  height: auto;
}

.custom-cursor img {
  width: 100%;          /* giữ nguyên kích thước ảnh */
  height: auto;         /* giữ nguyên kích thước ảnh */
  pointer-events: none;
}

.page-step-2 .md-row.active-2 .md-col-1, .page-step-2 .md-row.active-3 .md-col-1, .page-step-2 .md-row.active-4 .md-col-1{
  animation: moveout-1 1.5s;
  animation-fill-mode: forwards;
}
@keyframes moveout-1{
  0%{
    left: 31.5%;
  }
  100%{
    left: -100%;
    display: none;
  }
}
.page-step-2 .md-row.active-1 .md-col-2, .page-step-2 .md-row.active-3 .md-col-2, .page-step-2 .md-row.active-4 .md-col-2{
  animation: moveout-2 1.5s;
  animation-fill-mode: forwards;
}
@keyframes moveout-2{
  0%{
    left: 42.5%;
  }
  100%{
    left: -100%;
    display: none;
  }
}
.page-step-2 .md-row.active-1 .md-col-3, .page-step-2 .md-row.active-2 .md-col-3, .page-step-2 .md-row.active-4 .md-col-3{
  animation: moveout-3 1.5s;
  animation-fill-mode: forwards;
}
@keyframes moveout-3{
  0%{
    right: 30.7%;
  }
  100%{
    right: -100%;
    display: none;
  }
}
.page-step-2 .md-row.active-1 .md-col-4, .page-step-2 .md-row.active-2 .md-col-4, .page-step-2 .md-row.active-3 .md-col-4{
  animation: moveout-4;
  animation-fill-mode: forwards;
}
@keyframes moveout-4{
  0%{
    top: 51%;
  }
  100%{
    top: 100%;
    display: none;
  }
}
.page-step-2 .md-row.active-1 .md-col-1{
  animation: movein-1 4s;
  animation-fill-mode: forwards;
}
@keyframes movein-1{
  0%{
    left: 31.5%;
    transform: scale(1.0);
  }
  30%{
    left: 40%;
    transform: scale(1.3);
    opacity: 1;
  }
  70%{
    left: 40%;
    transform: scale(1.3);
    opacity: 1;
  }
  100%{
    left: 40%;
    transform: scale(1.3);
    opacity: 1;
  }
}
.page-step-2 .md-row.active-2 .md-col-2{
  animation: movein-2 4s;
  animation-fill-mode: forwards;
}
@keyframes movein-2{
  0%{
    left: 42.5%;
    transform: scale(1.0);
  }
  30%{
    left: 42.5%;
    transform: scale(1.3);
    top: 37%;
    opacity: 1;
  }
   70%{
    left: 42.5%;
    transform: scale(1.3);
    top: 37%;
    opacity: 1;
  }
  100%{
    left: 42.5%;
    transform: scale(1.3);
    top: 37%;
    opacity: 1;
  }
}

.page-step-2 .md-row.active-3 .md-col-3{
  animation: movein-3 4s;
  animation-fill-mode: forwards;
}
@keyframes movein-3{
  0%{
    right: 30.7%;
    transform: scale(1.0);
  }
  30%{
    right: 45%;
    transform: scale(1.3);
    opacity: 1;
  }
  70%{
    right: 45%;
    transform: scale(1.3);
    opacity: 1;
  }
  100%{
    right: 45%;
    transform: scale(1.3);
    opacity: 1;
  }
}
.page-step-2 .md-row.active-4 .md-col-4{
  animation: movein-4 4s;
  animation-fill-mode: forwards;
}
@keyframes movein-4{
  0%{
    right: 40%;
    transform: scale(1.0);
  }
  30%{
    right: 43.5%;
    transform: scale(1.3);
    top: 38%;
    opacity: 1;
  }
  70%{
    right: 43.5%;
    transform: scale(1.3);
    top: 38%;
    opacity: 1;
  }
  100%{
    right: 43.5%;
    transform: scale(1.3);
    top: 38%;
    opacity: 1;
  }
}






.page-main .md-form.active input{
  border: red 3px solid;
  animation: shake-horizontal 1.5s;
  caret-color: red;
}
@keyframes shake-horizontal {
  /* Tại 0% (bắt đầu), không xoay */
    0%, 100% {
        transform: rotate(0deg);
    }
    /* Tại 20%, xoay nhẹ sang trái */
    10% {
        transform: rotate(-3deg);
    }
    /* Tại 40%, xoay sang phải */
    20% {
        transform: rotate(3deg);
    }
    /* Tại 60%, xoay nhẹ sang trái */
    30% {
        transform: rotate(-1deg);
    }
    /* Tại 80%, xoay nhẹ sang phải */
    40% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    /* Tại 40%, xoay sang phải */
    60% {
        transform: rotate(2deg);
    }
    70%{
      transform: rotate(0deg);
    }
}
.page-main {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
.page-main.page-exit {
    /* Trang mờ dần khi chuyển hướng */
    opacity: 0; 

}






.footer{
  background: #ff0069;
  position: absolute;
  left: 0%;
  width: 100%;
  bottom: 0%;
  text-align: center;
   padding: 10px 0px;
  z-index: 10;
}
.footer a.cl-app{
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: calc(8px + 1vw);
  line-height: 1;
  font-weight: 600;
  color: #FFF;
  display: block;
  
}
.footer a.md-dk{
  color: #FFF;
  text-decoration: underline;
   font-family: 'EuclidCircularAVN-Regular';
   font-size: calc(4px + 0.8vw);
}
.page-step-2 .md-row img{
  position: relative;
  z-index: 2;
}
.page-step-2 .md-row .md-col-2 .effect-2{
  position: absolute;
    left: 57.7%;
    top: -15%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    width: 100%;
}
.page-step-2 .md-row .md-col-2:hover .effect-2{
  opacity: 1;
  transition-duration: 1s;
}

.page-step-2 .md-row .md-col-1 .effect-1{
  position: absolute;
  left: 46%;
  top: -16%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  width: 80%;
}
.page-step-2 .md-row .md-col-1:hover .effect-1{
  opacity: 1;
  transition-duration: 1s;
}

.page-step-2 .md-row .md-col-3 .effect-3{
  position: absolute;
    left: 57%;
    top: -11%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    width: 110%;
}
.page-step-2 .md-row .md-col-3:hover .effect-3{
  opacity: 1;
  transition-duration: 1s;
}

.page-step-2 .md-row .md-col-4 .effect-4{
  position: absolute;
    left: 47.5%;
    top: -19.5%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    width: 109%;
    transition-duration: 1s;
}
.page-step-2 .md-row .md-col-4:hover .effect-4{
  opacity: 1;
  transition-duration: 1s;
}

.page-step-2 .md-row.active-1 .md-col-1 .effect-1{
  opacity: 1;
}
.page-step-2 .md-row.active-1 .md-col-2 .effect-2{
  opacity: 1;
}
.page-step-2 .md-row.active-1 .md-col-3 .effect-3{
  opacity: 1;
}
.page-step-2 .md-row.active-1 .md-col-4 .effect-4{
  opacity: 1;
}
.page-main .md-form .bg-img-1{
  width: 70%;
  display: table;
  margin: 0 auto;
}
.page-main .md-form .ico-img-1{
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
}
.page-main .md-form .ico-img-2{
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
}
.page-main .md-form .ico-img-1{
  animation: bg-img-1 4s infinite;
}
.page-main .md-form .ico-img-2{
  animation: bg-img-1 4s infinite;
}
.page-main .md-form.active-1 .ico-img-1{
  animation: bg-img-1 4s;
}
.page-main .md-form.active-1 .ico-img-2{
  animation: bg-img-1 4s;
}
@keyframes bg-img-1{
 0% {
    filter: brightness(100%); /* Độ sáng bình thường */
  }
  15% {
    filter: brightness(120%); /* Sáng hơn */
  }
  30% {
    filter: brightness(100%); /* Quay về bình thường */
  }
  45% {
    filter: brightness(120%); /* Tối đi */
  }
  60% {
    filter: brightness(100%); /* Quay về bình thường */
  }
  75% {
    filter: brightness(120%); /* Tối đi */
  }
  90% {
    filter: brightness(100%); /* Quay về bình thường */
  }
}


.page-step-2 .md-row.active-2 .md-col-2 .effect-2{
  opacity: 1;
}
.page-step-2 .md-row.active-1 .md-col-1 .effect-1{
  opacity: 1;
}
.page-step-2 .md-row.active-3 .md-col-3 .effect-3{
  opacity: 1;
}
.page-step-2 .md-row.active-4 .md-col-4 .effect-4{
  opacity: 1;
}
.page-step-2 .md-row{
  opacity: 0;
  animation: md-row 3s;
  animation-fill-mode: forwards;
}
@keyframes md-row{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.btn-cf{
  position: absolute;
      left: 32.5%;
    top: 46%;
    width: 36%;
  transition-duration: 0.5s !important;
  z-index: 3;
}
.btn-cf p{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
  z-index: 2;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.btn-cf a{
  display: block;
}
.btn-cf a:hover{
  transform: scale(1.1) !important;
  transition-duration: 0.5s !important;
}

.md-product{
  width: 78%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  opacity: 1;
}
.md-product .title-product{
  position: relative;
}
.md-product .title-product .md-title-sp{
  position: absolute;
    left: 50%;
    top: 10.5%;
    font-size: 1.9vw;
    transform: translateX(-50%);
    z-index: 5;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}


/*.page-step-2 .md-row.active-1 .md-product{
  animation: md-product 2s;
  animation-fill-mode: forwards;
  display: block;
  animation-delay: 4.3s;
  opacity: 0;
}
.page-step-2 .md-row.active-2 .md-product{
  animation: md-product 2s;
  animation-fill-mode: forwards;
  display: block;
  animation-delay: 4.3s;
  opacity: 0;
}
.page-step-2 .md-row.active-3 .md-product{
  animation: md-product 2s;
  animation-fill-mode: forwards;
  display: block;
  animation-delay: 4.3s;
  opacity: 0;
}
.page-step-2 .md-row.active-4 .md-product{
  animation: md-product 2.5s;
  animation-fill-mode: forwards;
  display: block;
  animation-delay: 4.3s;
  opacity: 0;
}
@keyframes md-product{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.page-step-2 .md-row.active-1 .btn-cf{
  display: block;
  animation: btn-cf 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.7s;
  opacity: 0;
}
.page-step-2 .md-row.active-2 .btn-cf{
   display: block;
  animation: btn-cf 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.7s;
  opacity: 0;
}
.page-step-2 .md-row.active-3 .btn-cf{
   display: block;
  animation: btn-cf 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.7s;
  opacity: 0;
}
.page-step-2 .md-row.active-4 .btn-cf{
   display: block;
  animation: btn-cf 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.7s;
  opacity: 0;
}
@keyframes btn-cf{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}*/


.md-product .product-1{
  position: absolute;
  left: 17%;
      bottom: 15%;
    width: 19%;
  z-index: 9;
}
.md-product .product-1 img{
  margin-bottom: 10px;
}
.md-product .product-1 img:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.md-product .product-1 p{
  margin-bottom: 0px;
  text-align: center;
  font-size: calc(4px + 1vw);
  font-weight: 600;
  color: #000;
  line-height: 1;
}
.md-product .product-1 p.giacu{
  text-decoration: line-through;
  color: #FFF;
  font-size: calc(3px + 0.8vw);
  font-style: italic;
}
.md-product .product-1 p.title-sp{
  font-size: calc(3px + 0.8vw);
  margin-bottom: 5px;
}
.md-product .product-2{
  left: 41%;
}
.md-product .product-3{
  left: 64.5%;
}

.active-child{
  display: block;
}


.md-cursor.active{
  animation: cursor-trail 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes cursor-trail{
  0%{
    opacity: 1;
  }
  10%   { transform: rotate(-16deg) translateX(-4px); opacity:1; }
  15%  { transform: rotate(8deg) translateX(2px); }
  20%  { transform: rotate(-12deg) translateX(-3px); }
  25%  { transform: rotate(6deg) translateX(2px); }
  30% { transform: rotate(-16deg) translateX(-4px); opacity: 1;}
  35%  { transform: rotate(6deg) translateX(2px); }
  40% { transform: rotate(-12deg) translateX(-3px); opacity: 1;}
  45%   { transform: rotate(-16deg) translateX(-4px); opacity:1; }
  50%  { transform: rotate(8deg) translateX(2px); opacity:1; }
  55%  { transform: rotate(-12deg) translateX(-3px); opacity:1; }
  60%  { transform: rotate(6deg) translateX(2px); opacity:1; }

    100%{
      opacity: 1;
    }
}
.active-none{
  cursor: auto;
}
.active-none img{
  animation: active-none 4s ;
  animation-fill-mode: forwards;
}
@keyframes active-none{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
.active-none .md-sp{
  animation: md-sp-1 4s;
  animation-fill-mode: forwards;
}
.active-none .md-effect{
  animation: md-sp-1 4s;
  animation-fill-mode: forwards;
}
@keyframes md-sp-1{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
.active-custom{
  animation: active-none 2s ;
  animation-fill-mode: forwards;
}


.trailing-cursor-style{
  position: absolute !important;
  z-index: 99999 !important;
  top: 66%;
    left: -24%;
    width: 38%;
    animation: pulse 2s infinite;

/*    transform: translate(0,0) !important;*/
}
@keyframes pulse {
   0% {
    filter: brightness(100%); /* Độ sáng bình thường */
  }
  15% {
    filter: brightness(150%); /* Sáng hơn */
  }
  30% {
    filter: brightness(100%); /* Quay về bình thường */
  }
  45% {
    filter: brightness(150%); /* Tối đi */
  }
  60% {
    filter: brightness(100%); /* Quay về bình thường */
  }
  75% {
    filter: brightness(150%); /* Tối đi */
  }
  90% {
    filter: brightness(100%); /* Quay về bình thường */
  }
}

.img-ico-3{
  position: absolute;
  left: 42%;
    top: 37%;
    width: 15%;
    opacity: 1;
    z-index: 1;
}
.img-ico-3.active-ico{
    animation: img-ico-3 3s; 
  animation-fill-mode: forwards;
  display: block;
}

@keyframes img-ico-3{
  0%{
    opacity: 0;
    z-index: 5;
    display: block;
  }
  50%{
    opacity: 1;
    z-index: 5;
    display: block;
  }
  100%{
    opacity: 0;
  }
}

.md-desktop{
  display: block;
}
.md-mobile{
  display: none;
}
@media screen and (max-width: 767px){
  .page-main .md-form .error{
    font-size: 2.5vw;
    top: 125%;
    color: #FFF;
  }
  .md-desktop{
    display: none;
  }
  .md-mobile{
    display: block;
  }
  .page-main .logo{
    width: 46%;
    position: absolute;
    left: 27%;
    top: 14%;
  }
  .page-main .md-text-1{
    left: 13%;
        top: 33%;
        width: 74%;
  }
  .page-main .md-text-3{
    left: 10%;
    width: 80%;
    top: 41.5%;
  }
  .page-main .md-text-3 p{
    font-size: 5vw;
  }
  .page-main .md-text-2{
    left: 28.5%;
        top: 69%;
        width: 43%;
  }
  .page-main .md-form{
    left: 0%;
    top: 53%;
    width: 100%;
  }
  .page-main .md-form .bg-img-1{
    width: 80%;
  }
  .page-main .md-form .img-1{
    width: 75%;
  }
  .page-main .md-form form{
    width: 60%;
    gap: 5px;
  }
  .footer a.cl-app{
    font-size: calc(8px + 3vw);
  }
  .footer a.md-dk{
    font-size: calc(4px + 2.8vw);
  }
  .page-main .md-form .ico-img-1{
    right: -10%;
    width: 40%;
  }
  .page-main .md-form .ico-img-2{
    left: -10%;
    width: 40%;
  }
  .page-step-2 .md-text-3{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 10%;
  }
  .page-step-2 .md-text-3 .md-title{
    font-size: 3.5vw;
  }
  .page-step-2 .md-row .md-col-1{
    left: 7%;
    top: 44%;
    width: 42.5%;
  }
  @keyframes movein-1{
    0%{
      left: 7%
      transform: scale(1.0);
    }
    30%{
      left: 31%;
      transform: scale(1.5);
      opacity: 1;
    }
    70%{
      left: 31%;
      transform: scale(1.5);
      opacity: 1;
    }
    100%{
      left: 31%;
      transform: scale(1.5);
      opacity: 1;
    }
  }
  .page-step-2 .md-row .md-col-1 .sp-1{
    margin-top: -28%;
  }
  .page-step-2 .md-row .md-col-1 .md-sp-1{
    width: 47%;
  }
  .page-step-2 .md-row .md-col-2{
    left: 30%;
    top: 33%;
    width: 36.5%;
  }
  @keyframes movein-2{
    0%{
      left: 30%;
      transform: scale(1.0);
    }
    30%{
      left: 35%;
      transform: scale(1.5);
      top: 37%;
      opacity: 1;
    }
     70%{
      left: 35%;
      transform: scale(1.5);
      top: 37%;
      opacity: 1;
    }
    100%{
      left: 35%;
      transform: scale(1.5);
      top: 37%;
      opacity: 1;
    }
  }
  .page-step-2 .md-row .md-col-3{
    right: 6%;
    top: 38.5%;
    width: 45%;
  }
  @keyframes movein-3{
    0%{
      right: 6%;
      transform: scale(1.0);
    }
    30%{
      right: 26%;
      transform: scale(1.5);
      opacity: 1;
    }
    70%{
      right: 26%;
      transform: scale(1.5);
      opacity: 1;
    }
    100%{
      right: 26%;
      transform: scale(1.5);
      opacity: 1;
    }
  }
  .page-step-2 .md-row .md-col-4{
    right: 23%;
    top: 50%;
    width: 52%;
  }
  @keyframes movein-4{
    0%{
      right: 50%;
      transform: scale(1.0);
    }
    30%{
      right: 22%;
      transform: scale(1.5);
      top: 38%;
      opacity: 1;
    }
    70%{
      right: 22%;
      transform: scale(1.5);
      top: 38%;
      opacity: 1;
    }
    100%{
      right: 22%;
      transform: scale(1.5);
      top: 38%;
      opacity: 1;
    }
  }
  .page-step-2 .md-text-3 .title-2 .md-title{
    font-size: 3.5vw;
  }
  .btn-cf{
    left: 30%;
    width: 43%;
  }
  .md-product{
    width: 95%;
  }
  .md-product .title-product .md-title-sp{
    font-size: 2.4vw;
  }
  .md-product .product-1{
    bottom: 13%;
  }
  .md-product .product-1 p.title-sp{
    font-size: calc(4px + 1.8vw);
  }
  .md-product .product-1 p{
    font-size: calc(6px + 2vw);
  }
  .md-product .product-1 p.giacu{
    font-size: calc(4px + 1.8vw);
  }
  .md-product .product-1 img{
    margin-bottom: 5px;
    width: 90%;
    display: table;
    margin: 0 auto 5px auto;
  }
  .md-product .product-1 p.title-sp{
    margin-bottom: 3px;
  }
  .btn-cf p{
    font-size: 4vw;
  }
  .img-ico-3{
    left: 25%;
    top: 30%;
    width: 50%;
  }
  .custom-cursor{
    width: 30%;
  }
}

.page-main .md-header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
.page-main .md-form .effect-img-2{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  z-index: 2;
  transform: scale(0.0);
}
.page-main .md-form.active-1 .effect-img-2{
  animation: effect-img-2 1s;
  animation-fill-mode: forwards;
}
@keyframes effect-img-2{
  0%{
    transform: scale(0.0);
    opacity: 0;
  }
  100%{
    transform: scale(1.0);
    opacity: 1;
  }
}
.page-step-2{
  animation: next-page 2s;
}
@keyframes next-page{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media screen and (max-width: 767px){
  .page-main .md-form .effect-img-2 {
    left: -24%;
        top: 25.5%;
        width: 150%;
  }
}
.page-dientu .md-row{
  animation: none;
  opacity: 1;
}

.page-dientu .md-row .md-col-1{
  left: 28.5%;
    top: 26%;
    width: 44.5%;
    margin-top: 0%;
    cursor: auto;
    animation: none;
}
.page-dientu .img-ico-3{
      position: absolute;
    left: 34%;
    top: 20%;
    width: 31%;
    opacity: 1;
    z-index: 3;
}
.page-dientu .md-text-3 .md-title{
  font-size: 3vw;
  line-height: 1.2;
  width: 100%;
}
.page-thoitrang .md-row .md-col-1{
  left: 35.5%;
    top: 21%;
    width: 29.5%;
}
.page-giadung .md-row .md-col-1{
  left: 35.5%;
    top: 13%;
    width: 29.5%;
}
@media screen and (max-width: 767px){
      .page-dientu .md-text-3 {
        position: absolute;
        left: 10%;
        width: 78%;
        top: 9%;
    }
    .page-dientu .md-text-3 .md-title{
      font-size: 4vw;
    }
    .page-dientu .img-ico-3{
      left: 29%;
      top: 22%;
      width: 44%;
    }
    .btn-cf{
      left: 26%;
        width: 49%;
        top: 49%;
    }
    .page-dientu .md-row .md-col-1{
      left: 19.5%;
          top: 40%;
          width: 61.5%;
    }
    .md-product{
      top: 61%;
    }
    .page-thoitrang .md-row .md-col-1{
      left: 29.5%;
        top: 31.5%;
        width: 40.5%;
    }
    .page-giadung .md-row .md-col-1{
      left: 29.5%;
        top: 23.5%;
        width: 40.5%;
    }
}